body:: {
    display:block;
    content: "";
    height: 70px;
}
.background1 {
    background-size: cover;
}

.background2 {
    background-size: cover;
}

.background3 {
    background-size: cover;
}

h2 {
    font-weight: bold;
}

.p {
    display: none;
}

.p1 {
    display: none;
}

.p2 {
    display: none;
}

/* .card {
    position: relative;
}

#image {
    display: block;
}

.imgoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.imageoverlay > * {
    transform: translate(20px);
    transition: transform 0.25s;
}

.imgoverlay:hover {
    opacity: 1;

}

.imgtitle {
    font-size: 2em;
    font-weight: bold;
}

.imgdescription {
    font-size: 1.25em;
    margin-top: 0.25em;
} */
