body:: {
    display:block;
    content: "";
    height: 70px;
}
.background1 {
    background-size: cover;
}

.background2 {
    background-size: cover;
}

.background3 {
    background-size: cover;
}

.p {
    display: none;
}

.p1 {
    display: none;
}

.p2 {
    display: none;
}